    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Crowdlift</h2>
                <p>Crowdlift was born out of necessity. We're a group of entrepreneurs and marketers who ran smack into the challenges of crowdfunding on our own projects. We felt the pain!</p>
                <p>Crowdfunding marketing agencies are expensive. But doing things entirely yourself means you're leaving money on the table ... or worse ... face planting.</p>
                <p>There has to be a better way. A way that combines growth hacking, automation and playbooks from the secretive world of PPC and affiliate marketing.</p>
                <p>Crowdlift is the result of an obsession with automation, data, and hustle.
                <p>Unlike most agencies, we partner with crowdfunding projects when it matters most: months in advance of the campaign.
                We guide you through pre-marketing and campaign success by setting you up with the right
                playbooks, tools, and people.</p>
            </div>
        </div>
    </section>
