    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects &amp; Milestones</h2>
                    <p>Our first year – 2016 – we set two crowdfunding records:</p>
                    <p>FLX: Electric Bikes with Attitude. $2 MILLION+ on IndieGoGo and website. Highest funded performance eBike ever.</p>
                    <p>Tactica Talon. $665k+ on Kickstarter and IndieGoGo. Highest funded multi-tool ever.</p>
                    <p>We've helped dozens of Kickstarters and IndieGoGo projects exceed their goals with 100% success rate.</p>
                    <p>Contact us for a free consultation on how we can help make your project a success.</p>
                </div>
            </div>
        </div>
    </section>
